@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');
/*Fontes usadas: Lato, Inter e Oswald*/

:root {
    --cor-primaria: rgb(72, 72, 243);
    --cor-primaria-escura: rgb(9, 9, 59);
    --cor-branco: #fff;
    --cor-preto: #000;
    --cor-cinza-escuro: rgb(94, 94, 94);
    --cor-cinza-medio: rgb(223, 223, 223);
    --cor-cinza-claro: rgb(233, 233, 233);
    --cor-cinza-footer: rgb(185, 185, 185);
    --cor-cinza-paragrafo: rgb(59, 59, 59);
    --cor-footer-h3: rgb(240, 240, 240);
    --cor-footer-h4: rgb(240, 240, 240);
    --cor-input-bg: #222;
}

/* Restante do CSS */
html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    width: 100%;
    height: auto;
    padding: 1vw 5vw;
    background-color: var(--cor-branco);
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 13vw;
    align-items: center;
    z-index: 5;
}

header h3, footer h3{
    color: var(--cor-preto);
    text-align: center;
    font-size: 1.5rem;
    font-family: Oswald;
    font-weight: 700;
}

header ul, footer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2vw;
    font-size: 1vw;
    font-family: Lato;
    align-items: center;
    color: var(--cor-cinza-escuro);
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

header div, #menu div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
}

#logo{
    height: 2vw;
}

header ul li, footer ul li{
    cursor: pointer;
}

header ul li:hover, footer ul li:hover{
    color: var(--cor-primaria);
}

#inicio, section{
    background-color: var(--cor-primaria);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

h1{
    color: var(--cor-branco);
    font-size: 3rem;
    font-family: Lato;
    font-weight: 900;
}

p{
    color: var(--cor-branco);
    font-size: 1.3rem;
    font-family: Inter;
    font-weight: 400;
}

button{
    background-color: var(--cor-branco);
    color: var(--cor-primaria);
    font-size: 1.2rem;
    font-family: Lato;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.horizontal{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.vertical{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.secao-texto{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.secao-imagem{
    width: 40%;
    height: 20vw;
    background-image: url('../images/imagemInicio.png');
    background-size: cover;
    border-radius: 15px;
}

.img2{
    background-image: url('../images/imagemTecnologias.png');
}

.img3{
    background-image: url('../images/imagemObjetivos.png');
}

.img4{
    background-image: url('../images/imagemPublico.png');
}

.img5{
    background-image: url('../images/imagemBeneficios.png');
}

.img6{
    background-image: url('../images/imagemSolucao.png');
}

.logo-imagem{
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.titulo{
    color: var(--cor-preto);
    font-size: 1.8vw;
}

.paragrafo{
    color: var(--cor-cinza-paragrafo);
    font-size: 1vw;
}

.secao{
    height: 45vw;
}

#secao1, #secao3, #secao5{
    background-color: var(--cor-branco);
}

.elemento{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 0.5vw;
    background-color: var(--cor-primaria);
    padding: 1vw 0.5vw;
    border-radius: 15px;
    color: var(--cor-branco);
    font-family: Inter;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.elemento h3{
    font-size: 0.9vw;
}

.elemento:hover{
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
}

.icone{
    width: 1vw;
}

#secao2, #secao4, #secao6{
    background-color: var(--cor-cinza-medio);
}

#secao2 .elemento, #secao4 .elemento, #secao6 .elemento{
    background-color: var(--cor-branco);
    color: var(--cor-primaria);
}

footer{
    width: 100%;
    height: auto;
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding: 4vw 0vw;
    box-sizing: border-box;
}

footer h3{
    color: var(--cor-branco);
    text-align: left;
}

footer h4{
    color: var(--cor-footer-h4);
    font-size: 1.2rem;
    font-family: Lato;
    font-weight: 400;
}

footer .vertical{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    height: 13vw;
}

#footer-logo{
    justify-content: left;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
}

footer ul{
    flex-direction: column;
    gap: 0.5vw;
    color: var(--cor-cinza-footer);
}

footer ul li:hover{
    color: var(--cor-footer-h3);
}

/*WebDev*/
.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--cor-branco);
    transition: color 0.3s;
}

.nav-links a:hover {
    color: var(--cor-primaria);
}

.theme-icons {
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
}

.slideshow {
    padding: 5rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: var(--cor-cinza-medio);
    gap: 1vw;
}

.slide-container {
    position: relative;
    display: none;
    width: 80%;
}

.slide-container:first-child {
    display: block;
}
.slide-container img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.9;
}
.slide-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.836);
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 0 0 10px 10px;
    text-align: left;
    font-family: Lato;
}

.slide-controls {
    margin-top: 1rem;
}

.slide-controls button {
    background: var(--cor-input-bg);
    color: var(--cor-branco);
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.slide-controls button:hover {
    background: var(--cor-primaria);
    color: var(--cor-preto);
}

.quiz, .form {
    padding: 2rem;
    background-color: var(--cor-primaria);
    color: var(--cor-branco);
    font-family: Lato;
    margin: 5rem auto;
    border-radius: 10px;
    height: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.quiz h2, .form h2 {
    text-align: center;
    margin-bottom: 1rem;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--cor-input-bg);
    color: var(--cor-branco);
}

#contact-form button, #submit-quiz {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--cor-primaria);
    color: var(--cor-branco);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit-quiz{
    background-color: var(--cor-primaria-escura);
}

#contact-form button:hover, #submit-quiz:hover {
    background-color: var(--cor-preto);
}
/* Estilos mínimos para quiz */
.question-block {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.question {
    font-weight: bold;
    margin-bottom: 10px;
}
.option-label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
    user-select: none;
    position: relative;
    padding-left: 25px;
}
.option-label input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.option-label span {
    position: relative;
    height: 16px;
    width: 16px;
}
/* Estilo do círculo customizado */
.option-label span::before {
    content: "";
    display: inline-block;
    transform: translateY(-5%);
    width: 16px;
    height: 16px;
    border: 2px solid var(--cor-preto);
    border-radius: 50%;
    background: white;
    vertical-align: middle;
    margin-right: 5px;
}
/* Quando selecionado */
.option-label input[type="radio"]:checked + span::before {
    background: black;
    border-color: var(--cor-primaria-escura);
}

#quiz-container{
    color: var(--cor-branco);
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#mensagem {
    resize: vertical;
}

#menubotao{
    height: 2vw;
    width: 2vw;
    background-image: url(../images/iconeMenu.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#menu{
    position: fixed;
    width: 20vw;
    height: 100%;
    left: 120%;
    background-color: var(--cor-cinza-claro);
    z-index: 11;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 11;
    transition: all 0.4s ease-in-out;
}

#menu ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    text-align: right;
    gap: 2vw;
}

#menu ul li{
    font-size: 1.5rem;
    font-family: Lato;
    color: var(--cor-preto);
}

#menu ul li:hover{
    color: var(--cor-primaria);
}

#sair{
    background-color: var(--cor-primaria);
    padding: 1rem;
    font-size: 2vw;
    font-weight: bolder;
    font-family: Lato;
    color: var(--cor-branco);
    border-radius: 15px;
}

#sair:hover{
    background-color: var(--cor-primaria-escura);
}

#menu div{
    font-family: Oswald;
    margin: 3vw auto; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.iconeTema{
    width: 1.7vw;
    height: 1.7vw;
    background-size: 70% 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/TemaClaro.png);
    background-color: white;
    border-radius: 5px;
}

.iconeTema:hover{
    background-color: var(--cor-cinza-claro);
    transition: all 0.3s ease-in-out;
}

.ic2{
    background-image: url(../images/TemaEscuro.png);
}

.ic3{
    background-image: url(../images/TemaReverso.png);
}